/* CSS declarations go here */
.online{
	border: 2px solid #4caf50;
}
.offline{
	opacity: 0.3;
}
.hidden{
	display: none;
}
.nav-item{
	cursor: pointer;
}
.fullscreen{
	position: absolute;
	top: 20%;
	bottom: 0;
	height: 80%;
}
body, html {
	margin: 0;
	min-height:100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.user-image{
	max-height: 60px;
}
.green-text{
	color: #880e4f;
}

.primary-text{
	color:#212121;
}
.secondary-text{
	color:#727272;
}
.text-icons{
	color:#fff;
}
.light-primary{
	color: #c8e6c9;
}
.input-field input[type=text]:focus {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
.section-editor{
	border: none;
    overflow: auto;
    outline: none;
    resize: none;
    height: 500px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.box{
	border-bottom: 1px solid #bdbdbd;
}
.sheet-detail{
	min-height: 500px;
}
.detail-content{
	overflow-y: scroll;
}
.truncate-top{  
    width:100%;
    max-height: 200px;
} 
.sideColumn{
	top:140px;
	background-color: #fafafa;
	border:none;
}